body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;           
    background-color: rgb(166, 181, 181);
    margin: 0;
}
#clock {
    font-size: 32px;
    padding: 20px;
    background: white;
    border: 2px solid navy;
    border-radius: 10px;
    text-align: center;
}